{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}   ">
    <link rel="stylesheet" href="{% static 'css/user.css' %}   ">
    <link rel="stylesheet" href="{% static 'css/Features-Clean.css' %}   ">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean1.css' %}   ">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/Testimonials.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
<div>
    <nav class="navbar navbar-default navigation-clean" style="text-align:center;">
        <div class="container" style="text-align:center!important;">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="index.html" style="text-align:center;padding:10px;"><img
                        src="{% static 'img/logo.png' %}" style="height:24px!important;"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right"></ul>
                <ul class="nav navbar-nav">
                    <li class="active" role="presentation" id="register-link"><a href="">Trocar Meu Carro</a></li>
                    <li class="active" role="presentation" id="como-funciona-link"><a href="">Como Funciona</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="register-photo">
    <div class="form-container">
        <form method="post" action="/register">
            {% csrf_token %}


            <!-- Server Side Validation Messages -->
            {% if form.errors %}

                <div class="alert alert-danger" role="alert">
                    <strong>Ops!!!</strong>
                    <p>
                        {% if form.errors.nome %}
                            .: O campo <b>nome</b> é obrigatório
                        {% endif %}
                    </p>
                    <p>
                        {% if form.errors.telefone %}
                            .: O campo <b>telefone</b> é obrigatório
                        {% endif %}
                    </p>
                    <p>
                        {% if form.errors.email %}
                            .: <b>E-mail</b> inválido
                        {% endif %}
                    </p>
                    <p>
                        {% for non_field_error in form.non_field_errors %}
                            .: {{ non_field_error }}
                        {% endfor %}
                    </p>
                </div>

            {% endif %}

            <h2 class="text-center">Dados<strong> Pessoais</strong></h2>
            <div class="form-group">
                <input class="form-control" name="nome" type="text"
                       value="{% if form.nome.value %}{{ form.nome.value }}{% endif %}"
                       placeholder="Nome Completo">
            </div>
            <div class="form-group">
                <input class="form-control" id="id_telefone" name="telefone"
                       value="{% if form.telefone.value %}{{ form.telefone.value }}{% endif %}"
                       type="text" placeholder="Telefone">
            </div>
            <div class="form-group">
                <input class="form-control" name="email" type="email"
                       value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                       placeholder="E-mail">
            </div>

            <h2 class="text-center"><strong>Meu</strong> Carro</h2>
            <div class="form-group">
                <input class="form-control" id="id_valor_vender" name="valor_vender"
                       value="{% if form.valor_vender.value %}{{ form.valor_vender.value }}{% endif %}" type="text"
                       placeholder="Valor"
                       size="12">
            </div>
            <div class="form-group">
                <input class="form-control" id="id_marca_vender" name="marca_vender" type="text"
                       value="{% if form.marca_vender.value %}{{ form.marca_vender.value }}{% endif %}"
                       placeholder="Marca">
            </div>
            <div class="form-group">
                <input class="form-control" name="modelo_vender" type="text"
                       value="{% if form.modelo_vender.value %}{{ form.modelo_vender.value }}{% endif %}"
                       placeholder="Modelo">
            </div>
            <div class="form-group">
                <input class="form-control" id="id_ano_vender" name="ano_vender"
                       value="{% if form.ano_vender.value %}{{ form.ano_vender.value }}{% endif %}"
                       type="text" placeholder="Ano"
                       size="10">
            </div>

            <h2 class="text-center">Carro que <strong>Desejo</strong></h2>
            <div class="form-group">
                <input class="form-control" id="id_valor_compra" name="valor_comprar"
                       value="{% if form.valor_comprar.value %}{{ form.valor_comprar.value }}{% endif %}" type="text"
                       placeholder="Valor"
                       size="12">
            </div>
            <div class="form-group">
                <input class="form-control" id="id_marca_comprar" name="marca_comprar" type="text"
                       value="{% if form.marca_comprar.value %}{{ form.marca_comprar.value }}{% endif %}"
                       placeholder="Marca">
            </div>
            <div class="form-group">
                <input class="form-control" name="modelo_comprar" type="text"
                       value="{% if form.modelo_comprar.value %}{{ form.modelo_comprar.value }}{% endif %}"
                       placeholder="Modelo">
            </div>
            <div class="form-group">
                <input class="form-control" id="id_ano_comprar" name="ano_comprar"
                       value="{% if form.ano_comprar.value %}{{ form.ano_comprar.value }}{% endif %}"
                       type="text" placeholder="Ano">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                        style="background-color:rgb(247,120,107);border:rgb(247,120,107);">cadastrar
                </button>
            </div>
        </form>
    </div>
</div>
<footer class="site-footer" style="/*color:#313437;*//*background-color:#eef4f7;*/">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5><img src="{% static 'img/logo.png' %}" style="height:19px!important;margin-bottom:7px!important;"> ©
                    2017</h5></div>
            <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a></div>
        </div>
    </div>
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.inputmask.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.maskMoney.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function () {

        $('#register-link').click(function () {
            location.href = '/register';
        });

        $('#como-funciona-link').click(function () {
            location.href = '/';
        });


        $('#id_telefone').inputmask({
            mask: ['(99) 9999-9999', '(99) 99999-9999',],
            keepStatic: true
        });

        $('#id_valor_vender').maskMoney({prefix: 'R$ ', thousands: '.', decimal: ','});

        $('#id_valor_compra').maskMoney({prefix: 'R$ ', thousands: '.', decimal: ','});

        $('#id_ano_vender').inputmask({
            mask: ['9999', '9999/9999',],
            keepStatic: true
        });

        $('#id_ano_comprar').inputmask({
            mask: ['9999', '9999/9999',],
            keepStatic: true
        });




        var todas_marcar = [];
        $.get('https://fipe-parallelum.rhcloud.com/api/v1/carros/marcas', function(data){
            $.each(data, function (key, value) {
                todas_marcar.push(value.nome);
            })
        });


        $("#id_marca_vender").autocomplete({
            source: todas_marcar
        });

        $("#id_marca_comprar").autocomplete({
            source: todas_marcar
        });


    });
</script>
</body>

</html>