{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}   ">
    <link rel="stylesheet" href="{% static 'css/user.css' %}   ">
    <link rel="stylesheet" href="{% static 'css/Features-Clean.css' %}   ">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean1.css' %}   ">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}           ">
    <link rel="stylesheet" href="{% static 'css/Testimonials.css' %}">
</head>

<body>
    <div>
        <nav class="navbar navbar-default navigation-clean" style="text-align:center;">
            <div class="container" style="text-align:center!important;">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-link" href="index.html" style="text-align:center;padding:10px;"><img src="{% static 'img/logo.png' %}" style="height:24px!important;"></a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right"></ul>
                    <ul class="nav navbar-nav">
                        <li class="active" role="presentation"><a href="#">Trocar Meu Carro</a></li>
                        <li class="active" role="presentation"><a href="#">Como Funciona</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="register-photo">
        <div class="form-container">
            <form method="post" action="/landing/register">
                {% csrf_token %}
                <h2 class="text-center">Dados<strong> Pessoais</strong></h2>
                <div class="form-group">
                    <input class="form-control" name="nome" type="text" placeholder="Nome Completo">
                </div>
                <div class="form-group">
                    <input class="form-control" id="id_telefone" name="telefone"  type="text" placeholder="Telefone">
                </div>
                <div class="form-group">
                    <input class="form-control" name="email" type="email" placeholder="E-mail">
                </div>

                <h2 class="text-center"><strong>Meu</strong> Carro</h2>
                <div class="form-group">
                    <input class="form-control" id="id_valor_vender" name="valor_vender" type="text" placeholder="Valor">
                </div>
                <div class="form-group">
                    <input class="form-control" name="marca_vender" type="text" placeholder="Marca">
                </div>
                <div class="form-group">
                    <input class="form-control" name="modelo_vender" type="text" placeholder="Modelo">
                </div>
                <div class="form-group">
                    <input class="form-control" name="ano_vender" type="text" placeholder="Ano" size="10">
                </div>

                <h2 class="text-center">Carro que <strong>Desejo</strong></h2>
                <div class="form-group">
                    <input class="form-control" id="id_valor_compra" name="valor_comprar" type="text" placeholder="Valor" size="10">
                </div>
                <div class="form-group">
                    <input class="form-control" name="marca_comprar" type="text" placeholder="Marca">
                </div>
                <div class="form-group">
                    <input class="form-control" name="modelo_comprar" type="text" placeholder="Modelo">
                </div>
                <div class="form-group">
                    <input class="form-control" name="ano_comprar" type="text" placeholder="Ano">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(247,120,107);border:rgb(247,120,107);">cadastrar </button>
                </div>
            </form>
        </div>
    </div>
    <footer class="site-footer" style="/*color:#313437;*//*background-color:#eef4f7;*/">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5><img src="{% static 'img/logo.png' %}" style="height:19px!important;margin-bottom:7px!important;"> © 2017</h5></div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.maskMoney.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function () {

            $('#id_telefone').inputmask({
                mask: ['(99) 9999-9999','(99) 99999-9999',],
                keepStatic: true
            });

            $('#id_valor_vender').maskMoney({thousands:'.', decimal:','});

            $('#id_valor_compra').maskMoney({thousands:'.', decimal:','});

        });
    </script>
</body>

</html>